section{padding:10px 20px;}
section:nth-of-type(2n){background-color:#eee;}
/* ************************************* */
/* Progress Bar Animation using CSS only */
/*        Edit the Animation code        */

/* Animation */
  .container {
  margin: 60px auto;
  width: 400px;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       https://css-tricks.com/webkit-sibling-bug/
 */

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
/* **************************************** */
/* Progress Circle Animation using CSS only */ 
/*         Add jsFiddle CSS code here       */


/* ***************************************** */
/* Progress Circle Animation using JS/jQuery */ 
/*         Add jsFiddle CSS code here        */

*, *:after, *:before {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-animation-fill-mode: both; /* Chrome, Safari, Opera */
    animation-fill-mode: both
}
.pie {
    background-color:darkorange;
    margin:30px;
    width:200px;
    height:200px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}
.clip1 {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
    box-shadow:0 2px 2px rgba(0,0,0,0.2) inset;
    border-radius:50%;
}
.slice1 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 100px, 200px, 0px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:limegreen;
    border-color:#f7e5e1;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
    transition:all 0.3s linear 0s;
}
.clip2 {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    clip:rect(0, 100px, 200px, 0px);
    box-shadow:0 2px 2px rgba(0,0,0,0.2) inset;
    border-radius:50%;
}
.slice2 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:limegreen;
    border-color:#f7e5e1;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
    transition:all 0.3s linear 0.3s;
}
.status {
    position:absolute;
    height:30px;
    width:100%;
    line-height:60px;
    text-align:center;
    top:50%;
    margin-top:-35px;
    font-size:16px;
    font-family:verdana;
}

.inner {
    position:absolute;
    height:80%;
    width:80%;
    line-height:60px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40%;
    margin-left:-40%;
    background:#fff;
    border-radius:100%;
    box-shadow:0 2px rgba(0,0,0,0.2), 0 -100px 50px -50px rgba(0,0,0,0.1) inset;
}

.outher {
  position:absolute;
  border-radius:50%;
  width:100%;
  height:100%;
  top:0;
  left:0;
  box-shadow:0 5px 5px rgba(0,0,0,0.3) inset;
  //border:3px solid slateblue;
}


/* ****************************************** */
/* Progress Circle Animation w/jQuery Library */ 
/*         Add jsFiddle CSS code here         */
