section{padding:10px 20px;}
section:nth-of-type(2n){background-color:#eee;}
/* ************************************* */
/* Progress Bar Animation using CSS only */
/*        Edit the Animation code        */
.load-bar {
 position: relative;
 margin-top: 20px;
 width: 25%;
 height:16px;
 background-color: #fdba2c;
}
.bar {
 content: "";
 display: inline;
 position: absolute;
 width: 0;
 height: 100%;
 left: 50%;
 text-align: center;
}
.bar:nth-child(1) {
 background-color: #da4733;
 animation: loading 3s linear;
}
.bar:nth-child(2) {
 background-color: #3b78e7;
 animation: loading 3s linear 1s;
}
.bar:nth-child(3) {
 background-color: #fdba2c;
 animation: loading 3s linear 2s;
}
@keyframes loading {
   from {left: 50%; width: 0;z-index:100;}
   33.3333% {left: 0; width: 100%;z-index: 10;}
   to {left: 0; width: 100%;}
}
/* **************************************** */
/* Progress Circle Animation using CSS only */
/*         Add jsFiddle CSS code here       */


/* ***************************************** */
/* Progress Circle Animation using JS/jQuery */
/*         Add jsFiddle CSS code here        */


/* ****************************************** */
/* Progress Circle Animation w/jQuery Library */
/*         Add jsFiddle CSS code here         */
